// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
   // background-image: url('/assets/bg/bg_02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    margin-bottom: 20px;
}

p.my-p {
   font-size:18px;
}
