<%= javascript_tag do %>
    var body = document.getElementsByTagName("BODY")[0];    
    //body.style.backgroundImage = "url('/assets/bg/bg_14.jpg')";
    body.style.backgroundColor = "#AED6F1";
<% end %>

<div class="container " style="height:54vw; "">
    <div class="row"> 
        <div class="col-xs-12">
            <h1 style="margin:30px 0; display:inline-block">Welcome to my website!</h1>
            <h1 style="margin:30px 0; display:inline-block; float:right"> </h1>
        </div>
    </div>

    <div class="row" style="border-bottom:solid 3px">
        <div class="col-xs-12">
           <h2 style="display:inline-block">Biography</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
           <img style="width:100%" src="<%= image_url('profile/profile_03.jpg') %>"/>
        </div>
        <div class="col-xs-9">
            <p class="my-p">My name is 남기웅 (南基雄, KEEWOONG NAM). Calvin Caulfield is my english nickname. </p>
            <p class="my-p">I am a South Korean software engineer. I majored in Business Administration
            and Computer science at Seoul National University. I started to work at <a href="http://www.naver.com" target="_blank">NAVER</a> after graduation, and later at other places as software engineer or instructor.</p>
            <p>My hobby is watching television dramas, photographing, and playing guitar.</p>
        </div>
    </div>

    <div class="row" style="border-bottom:solid 3px">
        <div class="col-xs-12">
           <h2 style="display:inline-block">Portfolio</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Project title</th>
                    <th>Description</th>
                    <th>Github</th>
                    <th>Service website</th>
                    <th>?</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>lib_calvin</td>
                    <td>C++ implementation of fundamental algorithms and data structures.</td>
                    <td><a target="_blank" href="https://github.com/calvincaulfield/lib_calvin">lib_calvin</a></td>
                    <td>-</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>algorithm-benchmark</td>
                    <td>Rails based website showing performance of lib_calvin implementation compared to widely used C++ libraries.</td>
                    <td><a target="_blank" href="https://github.com/calvincaulfield/algorithm-benchmark">benchmark</a></td>
                    <td><a target="_blank" href="http://bench.minami.im">algorithm-benchmark</a></td>
                    <td>?</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>